<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ArFF CoonOps 🦝 - Barra</title>
  <link rel="stylesheet" href="./assets/bulma-barra.css">
  <link rel="stylesheet" href="./assets/extra.css">
  <link rel="stylesheet" href="./assets/animate.css">
  <link rel="stylesheet" href="./assets/fontawesome/css/all.css">
  <script src="./assets/vue.js"></script>
  <script src="./assets/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <section class="hero is-fullheight" :class="returnHeroColor">
      <div class="hero-body">
        <a href="/" class="button is-medium is-outlined is-white is-floating" v-if="!isSubmitting"><i class="fas fa-redo fa-lg"></i></a>
        <div class="container">
          <section v-if="showStep[0]">
            <h1 class="title is-3 has-text-white"><span class="has-text-info">Paso 1</span> Escanear badge</h1>
            <div class="field" v-if="!isLoading">
              <div class="control">
                <input v-model="barcode" ref="barcodeInput" type="text" class="input is-large is-centered black-input"
                  @keyup.enter="searchUser" @keyup="showError.notFound = showError.broken = false">
              </div>
            </div>
            <div v-else>
              <p><i class="fas fa-spinner fa-spin fa-lg"></i>&nbsp;Cargando...</p>
            </div>
            <div class="notification is-danger" v-if="showError.notFound">
              No se encontró al asistente en el sistema con el codigo <b>{{showError.lastBarcode}}</b>
            </div>
            <div class="notification is-danger" v-if="showError.broken">
              Ha ocurrido un error en el sistema, intente nuevamente
            </div>
          </section>
          <section v-if="showStep[1]">
            <div class="columns">
              <div class="column is-narrow">
                 <div class="box has-text-centered" id="goBack" @click="resetAll">
                <i class="fas fa-arrow-circle-left fa-5x fa-fw"></i>
                <br>
                <br>
                <p class="is-size-5">Volver</p>
                </div>
              </div>
              <div class="column has-text-centered">
                <img :src="userAvatar" class="image avatar-icon">
                <h1 class="title is-3">{{user.fursonaDisplayName}}</h1>
                <h1 class="subtitle is-5">{{user.fursonaFullname}}</h1>
                <div class="content">
                <p><span class="tag is-large is-black is-rounded" v-if="isMinor"><b>Es MENOR</b>&nbsp;-&nbsp;Entregar&nbsp;<b>SIN ALCOHOL</b></span></p>
                <p><span class="tag is-large is-dark is-rounded" v-if="isLoadingRemaining"><i class="fa fas-spin fa-spinner fa-lg"></i>&nbsp;&nbsp;Cargando tragos restantes...</span></p>
                <p><span class="tag is-large is-warning is-rounded has-text-black" v-if="remainingDrinkTickets > 0 && !isLoadingRemaining && !cannotOperate">Tragos restantes - <i class="fas fa-glass-martini-alt fa-fw"></i>&nbsp;<b>{{remainingDrinkTickets}}</b></span></p>
                <p><span class="tag is-large is-warning is-rounded" v-if="remainingDrinkTickets == 0 && !isLoadingRemaining && !cannotOperate"><i class="fas fa-times fa-lg"></i>&nbsp;No restan mas tragos</span></p>
                <p><span class="tag is-large is-warning is-rounded" v-if="cannotOperate"><i class="fas fa-times fa-lg"></i>&nbsp;Error - No se puede operar en este momento</span></p>
                <p class="is-size-7"><i>{{user.fursonaDescription}}</i></p>
                </div>
            </div>
              <div class="column is-narrow" v-if="!isLoadingRemaining && !cannotOperate">
                <div class="box has-text-centered is-link" id="goCheckout" v-if="remainingDrinkTickets > 0" @click="useDrink">
                <i class="fas fa-glass-martini-alt fa-4x fa-fw"></i>
                <br>
                <br>
                <p class="is-size-5">Entregar</p>
                </div>
                <div class="box has-text-centered is-link" id="goSell" :class="{'a-bit-smaller': remainingDrinkTickets > 0}" @click="sellDrink">
                <i class="fas fa-hand-holding-usd fa-fw" :class="{'fa-2x': remainingDrinkTickets > 0, 'fa-4x': remainingDrinkTickets <= 0 }"></i>
                <br v-if="remainingDrinkTickets <= 0">
                <br>
                <p class="is-size-5">Vender</p>
                </div>
              </div>
            </div>
          </section>
          <section v-if="showStep[2]">
            <div class="has-text-centered" v-if="isSubmitting" >
              <i class="fas fa-sync-alt fa-4x fa-spin"></i>
              <br>
              <br>
              <h1 class="title is-3 has-text-white">Guardando...</h1>
            </div>
            <div class="has-text-centered" v-else-if="!isSubmitting && response.replied && response.ok">
              <i class="fas fa-check-circle fa-4x has-text-white animated infinite bounce"></i>
              <br>
              <br>
              <h1 class="title is-1 has-text-white">Listo! Todo OK!</h1>
              <h1 class="subtitle is-5 has-text-white">Entregue nomas el trago!</h1>
              <button @click="resetAll()" class="button is-black is-large extra-padding"><i class="far fa-laugh fa-lg"></i>&nbsp;Okis!</button>
            </div>
            <div class="has-text-centered" v-else-if="!isSubmitting && response.replied && !response.ok">
              <i class="fas fa-times-circle fa-4x has-text-white"></i>
              <br>
              <br>
              <h1 class="title is-1 has-text-white">ABORT, ABORT!</h1>
              <h1 class="subtitle is-5 has-text-white">Hubo un error, todo mal!!</h1>
              <a href="/" class="button is-black is-large extra-padding"><i class="fas fa-reply fa-lg"></i>&nbsp;&nbsp;Proba de nuevo!</a>
            </div>
          </section>
            </div>
        </div>
      </div>
    </section>
  </div>
  <script src="./app.js"></script>
</body>

</html>