input.black-input{
  border: 3px solid #FFF;
  background: #000;
  color: #FFF;
}

.avatar-icon{
  width: 200px;
  border: 5px solid #FFF;
  border-radius: 100px;
  margin: 0 auto 15px;
}

.is-floating{
  float: left;
position: absolute;
bottom: 10px;
left: 10px;
}

html{
  overflow-y: hidden;
}

#goBack{
  cursor: pointer;
  color: #FFF;
  background-color: #800000;
  border: 5px solid #FFF !important;

}
#goCheckout{
  background-color: #125886;
  color: #FFF;
  border: 5px solid #FFF !important;

}
#goSell{
  background-color: #31850b;
  color: #FFF;
  border: 5px solid #FFF !important;
}

#goSell.a-bit-smaller{
  font-size: 16px;
}
#goCheckout:hover{
  cursor: pointer;
}
#forbidden{
  background-color: #000;
  color: #FFF;
}

.extra-padding{
  padding: 20px 70px;
  box-sizing: content-box;
  border: 5px solid #FFF !important;
}